
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark imagen">
    <a class="navbar-brand" href="#">
      <img src="../../../../assets/img/Inicio.jpg" alt="" style="width:50px;margin-top:-6px;">
      Richard Fernando Jimenez</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" routerLinkActive="active">
          <a class="nav-link" routerLink="introduccion">
            <i class="fas fa-home"></i>
            Introduccion</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="pipes">
            <i class="fas fa-underline"></i>
            Pipes</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="albums">
            <i class="fas fa-guitar"></i>
            Albums</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="search">
            <i class="fas fa-search"></i>
            Search</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="usuarios">
            <i class="fas fa-users"></i>
            Usuarios</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="nuevo-usuario">
            <i class="fas fa-user"></i>
            Nuevo Usuario</a>
        </li>
      </ul>
    </div>
  </nav>

