
.bg-secondary {
    text-align : center;
    font-family : 'Times New Roman',
    Times,
    serif;
    font-size : 30px;
}
.card-body {
    font-family : 'Times New Roman',
    Times,
    serif;
    font-size : 20px;
}
.text-center {
    font-size: 20px;
}
